@charset "UTF-8";

body{
	width:50%;
	margin:auto;
}

.topBtn, .bottomBtn{
	text-align:right;
	float:right;
	margin:5px 120px 20px 0;
}

.top, .logout{
	float:left;
	margin-left:5px;
}

.qBrock{
	margin-top:15px;
	clear:both;
    overflow:hidden;
}

.questionNum{
	width:2%;
}

.questionTxt, .answerTxt{
	width:80%
}

.aBrock{
	margin-top:2px;
}

.editBtn{
	float:right;
	margin-right:10px;
}

#edit ,#del{
	float:left;
	margin-right:3px;
}


